@{
    ViewBag.Title = "Agile-A-Thon";
}

<div class="jumbotron">
    <h1>Agile_A_Thon</h1>
    <p class="lead">
        CMI AGILE-A-THON is a contest to bring together CMI associates to a living agile
        session so that they come up with innovative and implementable solutions to some of
        the challenges we have in CMI accountsin their Agile Transformation Journey .
        This is an initiative powered by the CMI IAG Agile CoE and TD group, with active
        participation fromthe CMI Agile Ninja Coaches.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Apply &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Scrum Team Formation</h2>
        <p>
            You should form a 5 to 7 member scrum team from your
            account with a good mix of experience levels
            </br>1 associate from the team to act as a Scrum Master, who
            would act as a facilitator to the team as well as, be the
            single point of contact for the AGILE-A-THONcommittee
            </br>There canbe multiple scrum teamsfrom anaccount
            </br> Eachscrum teamwill be co-located during the contest
            </br> You should manage at least 1 laptop per team (2-3 per
            team would be ideal). Notify event organizers well in
            advance if you need laptops
            </br> 1 ProductOwner would be assigned for each Scrum Team
            </br> 1 Agile Ninja Coach will be deployed for each Scrum team
            as an Agile Coach and a Judge for scoring purpose

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Challenge Solving – Living Agile</h2>
        <p>
            1 Challenge can be selected per team from the challenges list for
            the contest
            </br> Teams will participate in all SCRUMevents
            </br>PrioritizedProduct Backlog & Sprint backlog tobe formed
            </br> EachSprint should have a Sprint Goal & Definition of Done
            </br> Sprint Planning, Scrum Meeting, Sprint Review & Sprint
            Retrospective to be conducted for each Sprint
            </br> 3 Sprints to be conducted by each Scrum team (for the challenge
            chosen). Durationof 1 Sprintisto be 2.5 hrs.
            </br> All scrum teams would gather to participate in this contest for
            each of their sprints, along with their deployed Ninja Coaches and
            Product Owners
            </br> Every Sprint Demo should be presented through a working
            solution, whichisto be built iteratively through each sprint
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Agile Way of Working</h2>
        <p>
            All Scrum events performed
            </br> Worked as one team
            </br> Visual Radiatorsused
            </br>Realistic Sprint Goal defined
            </br> Iterative working solution being developed
            </br> Transparencymaintained within the team
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>